#app{
    text-align: center;
    font-size: 20px;
    top: 20%;
    left:0;
    right:0;
    margin:auto;
    position: absolute;
}
body{
    background-color: pink;
}
p{
    font-size: 150%;
}
.button{
    border-radius:4px;
    width: 70px;
    height: 30px;
    background-color: aqua;
    cursor: pointer;
    margin-bottom: 3px;
}
#name{
    border-radius: 4px;
    height: 20px;
    background-color: aqua;
}
#ul{
   display:inline-block;
}
.display{
    display: flex;
    justify-content: space-around;
}
.aqua{
    color:aqua;
}
